#projects {
	flex-direction: row !important;
	justify-content: space-around !important;
	align-items: center !important;
	.lang-logos {
		display: flex;
		img {
			margin: 25px;
		}
	}
	.project-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 25%;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		height: 500px;
		scrollbar-width: thin;
		scrollbar-color: var(--border-color) transparent;
		&::-webkit-scrollbar {
			height: 5px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: var(--border-color);
		}
	}
}
