#projects {
	flex-direction: row !important;
	justify-content: space-around !important;
	align-items: center !important;
	.lang-logos {
		display: flex;
		img {
			margin: 25px;
		}
	}
	.project-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 25%;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		height: 500px;
		scrollbar-width: thin;
		scrollbar-color: var(--border-color) transparent;
		&::-webkit-scrollbar {
			height: 5px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: var(--border-color);
		}
	}
}

@media (max-width: 768px) {
	#projects {
		flex-direction: column !important;
		justify-content: space-evenly !important;
		.lang-logos {
			width: 250px;
			overflow: hidden;
			.img {
				height: 75px;
				position: relative;
				left: 0;
				display: flex;
				flex-direction: row !important;
				animation: slider 5s ease-in-out infinite;
				img {
					height: 100%;
					margin: 0 90px !important;
				}
			}
		}
		.project-list {
			width: 90% !important;
		}
		.project {
			width: 95% !important;
		}
	}
	@keyframes slider {
		10%,
		20%,
		30%,
		100% {
			left: 0%;
		}
		40%,
		50%,
		60% {
			left: -133%;
		}
		70%,
		80%,
		90% {
			left: -275%;
		}
	}
}
