button {
	display: flex;
	border: 1px solid transparent;
	justify-content: center;
	padding: 20px;
	width: 100%;
	cursor: pointer;
	background-color: var(--bg-color);
}

span {
	padding-left: 10px;
}
